
.data{
  display: flex;
 justify-content: space-evenly;
 margin-top: 80px;
}
h1{
  text-align: center;
  color: rgb(144, 46, 234);
}
body{
  background-color:cadetblue;
}

/* .container {
  display: flex;
}

.slider {
  width: 50%; 
  height: 20px;
  margin-right: 20px; 

}

.details {
  width: 50%; 
}

.box {
  padding: 20px;
  border-radius: 5px;
}

 */
 .container {
  display: flex;
}

.slider {
  width: 55%; /* Adjust the width of the slider as needed */
  margin-right: 20px; /* Add spacing between the slider and details */
}

.slider .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .slick-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Adjust as needed */
}

.details {
  width: 50%; /* Adjust the width of the details section as needed */
}

.box {
  padding: 20px;
  border-radius: 5px;
}
